<form role="form">
	<div class="row">
		<label>Дані співробітника</label>
	</div>
	<div class="row">
		<div class="form-group col-xs-4">
			<label for="lastName">Прізвище:</label> <input id="lastName"
				class="form-control" required ng-model="application.person.lastName">
		</div>
		<div class="form-group col-xs-4">
			<label for="firstName">Ім'я: </label> <input id="firstName"
				class="form-control" required
				ng-model="application.person.firstName">
		</div>
		<div class="form-group col-xs-4">
			<label for="middName">По батькові: </label> <input id="middName"
				class="form-control" required ng-model="application.person.middName">
		</div>
	</div>
	<div class="row">
		<div class="form-group col-xs-4">
			<label for="sex">Стать: </label> <select id="sex"
				class="form-control" required ng-model="application.person.sex">
				<option value="MALE" selected="selected">Чоловіча</option>
				<option value="FEMALE">Жіноча</option>
			</select>
		</div>
	</div>
	<div class="row">
		<label>Персональні дані</label>
	</div>
</form>
