<form role="form">
	<div class="row">
		<label>Дані співробітника</label>
	</div>
	<div class="row">
		<div class="form-group col-xs-4">
			<label for="lastName">Прізвище:</label> <input id="lastName"
				class="form-control" ng-model="application.person.lastName"
				type="text" readonly>
		</div>
		<div class="form-group col-xs-4">
			<label for="firstName">Ім'я: </label> <input id="firstName"
				class="form-control" ng-model="application.person.firstName"
				type="text" readonly>
		</div>
		<div class="form-group col-xs-4">
			<label for="middName">По батькові: </label> <input id="middName"
				class="form-control" ng-model="application.person.middName"
				type="text" readonly>
		</div>
	</div>
	<div class="row">
		<div class="form-group col-xs-4">
			<label for="sex">Стать: </label> <input id="sex" class="form-control"
				ng-model="application.person.sex" type="text" readonly>
		</div>
		<div class="form-group col-xs-4">
			<label for="birthDate">День народження: </label> <input
				id="birthDate" class="form-control"
				ng-model="application.person.birthDate" type="text" readonly>
		</div>
	</div>
	<div class="row">
		<div class="form-group col-xs-4">
			<label for="phone">Телефон: </label> <input id="phone"
				class="form-control" ng-model="application.person.phone" type="text"
				readonly>
		</div>
		<div class="form-group col-xs-4">
			<label for="skype">Skype: </label> <input id="skype"
				class="form-control" ng-model="application.person.skype" type="text"
				readonly>
		</div>
	</div>
	<div class="row">
		<label>Посада</label>
	</div>
	<div class="row">
		<div class="form-group col-xs-4">
			<label for="department">Департамент: </label> <input id="department"
				class="form-control" ng-model="application.job.department"
				type="text" readonly>
		</div>
		<div class="form-group col-xs-4">
			<label for="unit">Відділ: </label> <input id="unit"
				class="form-control" ng-model="application.job.unit" type="text"
				readonly>
		</div>
		<div class="form-group col-xs-4">
			<label for="position">Посада: </label> <input id="position"
				class="form-control" ng-model="application.job.position" type="text"
				readonly>
		</div>
	</div>
	<div class="row">
		<div class="form-group col-xs-4">
			<label for="workDate">Дата виходу: </label> <input id="workDate"
				class="form-control" ng-model="application.job.workDate" type="text"
				readonly>
		</div>
		<div class="form-group col-xs-4">
			<label for="salary">З.П. на випробувальний період: </label> <input
				id="salary" class="form-control" ng-model="application.job.salary"
				type="text" readonly>
		</div>
	</div>

</form>
