<form role="form">
	<div class="row">
		<div class="group-header col-xs-12">
			<label>Дані співробітника</label>
		</div>
	</div>
	<div class="row">
		<div class="form-group col-xs-4">
			<label for="lastName">Прізвище:</label> <input id="lastName"
				class="form-control" ng-model="application.person.lastName">
		</div>
		<div class="form-group col-xs-4">
			<label for="firstName">Ім'я: </label> <input id="firstName"
				class="form-control" ng-model="application.person.firstName">
		</div>
		<div class="form-group col-xs-4">
			<label for="middName">По батькові: </label> <input id="middName"
				class="form-control" ng-model="application.person.middName">
		</div>
	</div>
	<div class="row">
		<div class="form-group col-xs-8">
			<div class="row">
				<div class="form-group col-xs-6">
					<label for="sex">Стать: </label> <select id="sex"
						class="form-control" ng-model="application.person.sex">
						<option value="MALE" selected="selected">Чоловіча</option>
						<option value="FEMALE">Жіноча</option>
					</select>
				</div>
				<div class="form-group col-xs-6">
					<label for="birthDate">День народження: </label>
					<p class="input-group">
						<input id="birthDate" class="form-control" type="Date"
							ng-model="datePicker.birthDate" datepicker-popup="yyyy-MM-dd"
							is-open="datePicker.birthDateOpened"> <span
							class="input-group-btn">
							<button type="button" class="btn btn-default"
								ng-click="openBirthDate($event)">
								<i class="glyphicon glyphicon-calendar"></i>
							</button>
						</span>
					</p>
				</div>
			</div>
			<div class="row">
				<div class="form-group col-xs-6">
					<label for="phone">Телефон: </label> <input id="phone"
						class="form-control" ng-model="application.person.phone"
						mask="(999) 999-9999">
				</div>
				<div class="form-group col-xs-6">
					<label for="skype">Skype: </label> <input id="skype"
						class="form-control" ng-model="application.person.skype">
				</div>
			</div>
		</div>
		<div class="form-group col-xs-4"></div>
	</div>

	<div class="row">
		<div class="group-header col-xs-12">
			<label>Посада</label>
		</div>
	</div>
	<div class="row">
		<div class="form-group col-xs-4">
			<label for="department">Департамент: </label> <select id="department"
				class="form-control" ng-model="depIndex"
				ng-change="changeDepartment(depIndex)">
				<option value="--">--</option>
				<option ng-repeat="ditem in departments" ng-value="$index">{{ditem.name}}</option>
			</select>
		</div>

		<div class="form-group col-xs-4">
			<label for="unit">Відділ: </label> <select id="unit"
				class="form-control" ng-model="unitIndex"
				ng-change="changeUnit(unitIndex)">
				<option value="--">--</option>
				<option ng-repeat="uitem in units" ng-value="$index">{{uitem.name}}</option>
			</select>
		</div>

		<div class="form-group col-xs-4">
			<label for="position">Посада: </label> <select id="position"
				class="form-control" ng-model="positionIndex"
				ng-change="setPositions(positionIndex)">
				<option ng-repeat="pitem in positions" ng-value="$index">{{pitem.name}}</option>
			</select>
		</div>
	</div>
	<div class="row">
		<div class="form-group col-xs-4">
			<label for="workDate">Дата виходу: </label>
			<p class="input-group">
				<input id="workDate" class="form-control" type="Date"
					ng-model="datePicker.workDate" datepicker-popup="yyyy-MM-dd"
					is-open="datePicker.workDateOpened"> <span
					class="input-group-btn">
					<button type="button" class="btn btn-default"
						ng-click="openWorkDate($event)">
						<i class="glyphicon glyphicon-calendar"></i>
					</button>
				</span>
			</p>
		</div>
		<div class="form-group col-xs-4">
			<label for="salary">З.П. на випробувальний період: </label> <input
				id="salary" class="form-control" ng-model="application.job.salary"
				mask="9?9?9?9?9?9?">
		</div>
	</div>
</form>
